@tailwind base;
@tailwind components;
@tailwind utilities;

.game-container {
    background: linear-gradient(135deg, hsl(var(--b2)), hsl(var(--b3)));
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}

@keyframes fade-in {
0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}

.fade-in-item {
    opacity: 0;
    animation: fade-in 1s forwards;

}

.word {
    /*this is needed for transfroms to apply to spans*/
    display: inline-block;
    /*if display is inline-block for some reason the left spaces are ignored*/
    margin-left: 0.5rem;
}
